<h1>Listando Usuarios Cadastrados</h1><br />
<div align="center">
<table border="1">
<ul>
<% @usuario.each do |t| %>

  <li> <%= t.login %></li>

<% end %>
</ul>
</table>

<br />

<div class="btn-group">
  <%= link_to new_usuario_path do %>
  <button class="btn">Novo usuario</button>
  <% end %>
  <%= link_to new_session_path do%>
  <button class="btn">Login</button>
  <% end %>
</div>